.main{
    font-style: italic;
    background-color: yellow;
    font-size: 24px;
    border: 2px solid black;
    width: 600px;
    border-radius: 20px;
}
.main p{
    width: 500px;
}
h1{
    color: rgb(7, 108, 197);
}